*{
    font-family: 'Comfortaa', cursive;
}

html{
    height: 3000px;
}

/* TRANSITION */

.transition-div{
    display: inline-block;
    border-radius: 4px;
    margin: 30px;
    padding: 10px 30px 10px 30px;
    background-color: rgb(26, 85, 245);
    color: white;
    transition: background-color 0.5s;
}

.transition-div:hover{
    background-color: rgb(228, 53, 53);
}

/* TRANSFORMATIONS */

.transformation-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 20px;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    background-color: rgb(245, 139, 40);
    width: 100px;
    height: 100px;
    transition: scale 0.3s, translate 0.3s, rotate 0.6s, transform 0.3s;
}

.item-1:hover{
    scale: 1.2;
}

.item-2:hover{
    translate: 50px;
}

.item-3:hover{
    rotate: 180deg;
}

.item-4:hover{
    transform: skew(10deg, 10deg);
}

.item-5{
    width: 300px;
    transform-origin: top left;
}

.item-5:hover{
    rotate: 75deg;
}

.item-67-container{
    width: 100px;
    height: 100px;
    position: relative;
}

.item-6{
    position: absolute;
    border-radius: 0;
    transition-timing-function: ease-in;
    transform-origin: left;
}

.item-7{
    background-color: rgb(77, 77, 212);
    position: absolute;
    border-radius: 0;
    transition-timing-function: ease-out;
    transform-origin: right;
    transform: rotateY(90deg);
}

.item-6:hover{
    transition-timing-function: ease-out;
    transform: rotateY(90deg);
}

.item-67-container:hover .item-7{
    transition-timing-function: ease-in;
    transform: rotateY(0deg);
}

/* ANIMATIONS */

.animations-container{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 20px;
}

.anim-title{
    transition: all 0.4s;
}

.anim-title:hover{
    transform: rotate(-10deg);
}

.anim{
    border: 2px solid black;
    padding: 20px 60px 20px 60px;
    font-weight: 400;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}

.anim:hover{
    cursor: pointer;
}

.anim-1:before{
    position: absolute;
    content: '';
    background-color: rgb(240, 120, 73);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom right;
    transform: rotate(90deg);
    transition: transform 0.6s;
}

.anim-1:hover:before{
    transform: rotate(0deg);
}

.anim-2:before{
    position: absolute;
    content: '';
    background-color: rgb(0, 89, 255);
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    z-index: -1;
    transform: scale(0);
    opacity: 0;
    transition-timing-function: ease-out;
    transition: transform 0.6s, opacity 0.3s;
}

.anim-2:hover:before{
    transition-timing-function: ease-in;
    transform: scale(10);
    opacity: 100%;
}

.anim-3:hover{
    background-color: red;
}

.anim-3:before{
    position: absolute;
    content: '';
    background-color: rgb(0, 0, 0);
    left: 0;
    top: -50px;
    width: 30px;
    height: 200px;
    transition-timing-function: ease-out;
    transform: translateX(-80px) rotate(30deg);
    transition: all 0.3s;
}

.anim-3:hover:before{
    transition-timing-function: ease-in;
    transform: translateX(200px) rotate(30deg);
}

.anim-4:before{
    position: absolute;
    content: '';
    background-color: rgba(250, 21, 117, 0.8);
    left: -30px;
    top: -200px;
    width: 250px;
    height: 200px;
    border-radius: 100%;
    z-index: -1;
    transition-timing-function: ease-out;
    transition: all 0.2s;
}

.anim-4:hover:before{
    transition-timing-function: ease-in;
    transform: translateY(100px);
}

.anim-5{
    border: 5px solid brown;
    background-color: brown;
    color: white;
    transition: all 0.5s;
}

.anim-5:before{
    content: '';
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    transform: translateX(200px);
    top: 0;
    left: 0;
    transition: all 0.5s;
}

.anim-5:hover:before{
    transform: translateX(0);
}

.anim-5:after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    transform: translateX(-200px);
    bottom: 0;
    right: 0;
    transition: all 0.5s;
}

.anim-5:hover:after{
    transform: translateX(0);
}

.anim-6-container{
    border: 2px solid rgb(11, 143, 196);
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.anim-6-container{
    cursor: pointer;
}

.anim-6{
    overflow: show;
    border: 0;
    padding: 0;
    color: rgb(11, 143, 196);
    position: relative;
}

.anim-6-wave{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: calc(100% + 30px);
    background-color: rgb(11, 143, 196);
    transition: all 1s;
}

.anim-6-wave:before{
    z-index: -1;
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    width: 200px;
    height: 30px;
    background: url(../img/wave.svg);
    background-size: cover;
    background-position-y: -10px;
    animation: wavy 1s linear infinite;
}

@keyframes wavy{
    0% { background-position-x: -138px}
    100% {background-position-x:  60px;}
}

.anim-6-container:hover .anim-6-wave{
    top: 0;
}

.anim-6-container:hover .anim-6{
    color: white;
}

/* IMAGE ANIMATIONS */

.image-container{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 20px;
}

.img-container{
    width: 300px;
    height: 300px;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.img{
    width: 300px;
    height: 300px;
    transition: all 0.5s;
}

.overlay{
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}

.overlay-title{
    margin: 0;
    color: white
}

.overlay-text{
    margin: 0;
    color: white;
}

.img-1{
    width: 100%;
    height: 100%;
    position: absolute;
}

.img-1-container:hover .img-1{
    transform: scale(1.4) rotate(-15deg);
}

.overlay-1:hover{
    opacity: 100%;
}

/* TEXT ANIMATIONS */

.text-container{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 20px;
}

.text{
    margin: 0;
    padding: 0;
    display: flex;
}

.letter{
    list-style: none;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 10px;
    transition: all 2s;
}
