*{
    font-family: 'Comfortaa', cursive;
}

html{
    height: 4000px;
}

/* MAIN CONTAINER */

.container{
    height: 100%;
}

.border-container{
    margin: auto;
    width: 60%;
    height: 100%;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.main-container{
    margin: auto;
    width: 97%;
    height: 100%;
    border-left: 7px solid black;
    border-right: 7px solid black;
}

/* TRANSITION */

.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-div{
    display: inline-block;
    border-radius: 4px;
    margin: 30px 30px 50px 30px;
    padding: 10px 30px 10px 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 2.4em;
    transition: background-color 0.5s;
}

.title-div:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

/* TRANSFORMATIONS */

.transformation-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 20px;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    transition: scale 0.3s, translate 0.3s, rotate 0.6s, transform 0.3s;
}

.item-1:hover{
    scale: 1.2;
}

.item-2:hover{
    translate: 50px;
}

.item-3:hover{
    rotate: 180deg;
}

.item-4:hover{
    transform: skew(10deg, 10deg);
}

.item-5{
    width: 300px;
    transform-origin: top left;
}

.item-5:hover{
    rotate: 75deg;
}

.item-67-container{
    width: 100px;
    height: 100px;
    position: relative;
}

.item-6{
    position: absolute;
    border-radius: 0;
    transition-timing-function: ease-in;
    transform-origin: left;
}

.item-7{
    background-color: rgb(0, 0, 0);
    position: absolute;
    border-radius: 0;
    transition-timing-function: ease-out;
    transform-origin: right;
    transform: rotateY(90deg);
}

.item-6:hover{
    transition-timing-function: ease-out;
    transform: rotateY(90deg);
}

.item-67-container:hover .item-7{
    transition-timing-function: ease-in;
    transform: rotateY(0deg);
}

/* ANIMATIONS */

.animations-container{
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 20px;
    border: 2px solid black;
    border-width: 2px 0 2px 0;
}

.anim-title{
    transition: all 0.4s;
}

.anim-title:hover{
    transform: rotate(-10deg);
}

.anim{
    border: 2px solid black;
    padding: 20px 60px 20px 60px;
    font-weight: 400;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}

.anim:hover{
    cursor: pointer;
}

.anim-1:before{
    position: absolute;
    content: '';
    background-color: rgb(3, 3, 3);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom right;
    transform: rotate(90deg);
    transition: transform 0.6s;
}

.anim-1:hover:before{
    transform: rotate(0deg);
}

.anim-1:hover{
    color: white;
}

.anim-2:before{
    position: absolute;
    content: '';
    background-color: rgb(0, 0, 0);
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    z-index: -1;
    transform: scale(0);
    opacity: 0;
    transition-timing-function: ease-out;
    transition: transform 0.6s, opacity 0.3s;
}

.anim-2:hover:before{
    transition-timing-function: ease-in;
    transform: scale(10);
    opacity: 100%;
}

.anim-2:hover{
    color: white;
}

.anim-3:hover{
    background-color: rgb(0, 0, 0);
}

.anim-3:before{
    position: absolute;
    content: '';
    background-color: rgb(255, 255, 255);
    left: 0;
    top: -50px;
    width: 30px;
    height: 200px;
    transition-timing-function: ease-out;
    transform: translateX(-80px) rotate(30deg);
    transition: all 0.3s;
}

.anim-3:hover:before{
    transition-timing-function: ease-in;
    transform: translateX(200px) rotate(30deg);
}

.anim-3:hover{
    color: white;
}

.anim-4:before{
    position: absolute;
    content: '';
    background-color: rgb(0, 0, 0);
    left: -30px;
    top: -200px;
    width: 250px;
    height: 200px;
    border-radius: 100%;
    z-index: -1;
    transition-timing-function: ease-out;
    transition: all 0.2s;
}

.anim-4:hover:before{
    transition-timing-function: ease-in;
    transform: translateY(100px);
}

.anim-4:hover{
    color: white;
}

.anim-5{
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: white;
    transition: all 0.5s;
}

.anim-5:before{
    content: '';
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    transform: translateX(200px);
    top: 0;
    left: 0;
    transition: all 0.5s;
}

.anim-5:hover:before{
    transform: translateX(0);
}

.anim-5:after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    transform: translateX(-200px);
    bottom: 0;
    right: 0;
    transition: all 0.5s;
}

.anim-5:hover:after{
    transform: translateX(0);
}

.anim-6-container{
    border: 2px solid rgb(0, 0, 0);
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.anim-6-container{
    cursor: pointer;
}

.anim-6{
    overflow: show;
    border: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    position: relative;
}

.anim-6-wave{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: calc(100% + 30px);
    background-color: rgb(0, 0, 0);
    transition: all 1s;
}

.anim-6-wave:before{
    z-index: -1;
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    width: 200px;
    height: 30px;
    background: url(../img/wave.svg);
    background-size: cover;
    background-position-y: -10px;
    animation: wavy 1s linear infinite;
}

@keyframes wavy{
    0% { background-position-x: -138px}
    100% {background-position-x:  60px;}
}

.anim-6-container:hover .anim-6-wave{
    top: 0;
}

.anim-6-container:hover .anim-6{
    color: white;
}

.anim-7 {
    color: #000000;
    border: 2px solid #000000;
    position: relative;
    transition: all 0.4s;
    overflow: hidden;
}

.anim-7:before {
    content: '';
    position: absolute;
    Left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    z-index: -1;
    transform: translateY(-100%);
    transition: all 0.4s;
}

.anim-7:hover:before {
    transform: translateY(0);
}

.anim-7:hover {
    color: white;
}

.anim-8 {
    color: #000000;
    border: 2px solid #000000;
    position: relative;
    transition: 1s;
 }
 
 .anim-8:before {
    content: '';
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    transition: 1s;
    transform: rotateX(90deg);
    z-index: -1;
 }
 
 .anim-8:after {
     content: '';
     position: absolute;
     top: 0;
     Left: 0;
     width: 100%;
     height: 100%;
     background-color: #000000;
     transition: 1s;
     transform: rotateY(90deg);
     z-index: -1;
 }
 
 .anim-8:hover:before {
     transform: rotateX(0deg);
 }
 
 .anim-8:hover:after {
     transform: rotateY(0deg);
 }
 
 .anim-8:hover {
     color: white;
 }
 
.anim-9 {
    color: #000000;
    border: 2px solid #000000;
    transition: all 0.5s;
 }
 
 .anim-9:hover {
     font-weight: 900;
     Letter-spacing: 10px;
     border: 5px solid #000000;
 }

.anim-10 {
   color: rgb(0, 0, 0);
   border: 2px solid rgb(0, 0, 0);
   position: relative;
   transition: all 1s;
   overflow: hidden;
}

.anim-10:before {
    content: 'YEAH!';
    color: white;
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    transition: all 1s;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.anim-10:hover:before {
    transform: translateY(0);
}

.anim-10:hover {
    color: white;
}

.anim-11 {
    border: 2px solid #000000;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}

 .anim-11:before {
   content: 'BUTTON';
   font-size: 1.2em;
   position: absolute;
   top: 0;
   Left: 0;
   width: 100%;
   height: 100%;
   background-color: #000000;
   color: white;
   align-items: center;
   justify-content: center;
   display: flex;
   transform: scale(5);
   opacity: 0;
   transition: all 0.5s;
}

.anim-11:hover::before {
    transform: scale(1);
    opacity: 1;
}

.anim-12 {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    position: relative;
}

.anim-12:before {
    content: 'BUTTON';
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(-270deg);
    transform-origin: bottom;
    transition: all 0.5s;
}

.anim-12:hover:before {
    transform: rotateX(0deg);
}

.anim-12:after {
    content: 'BUTTON';
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(-270deg);
    transform-origin: top;
    transition: all 0.5s;
    transition-delay: all 0.25s;
}
   
.anim-13 {
    color: transparent;
    border: 2px solid rgb(0, 0, 0);
    position: relative;
}
   
.anim-13:before {
    content: 'BUTTON';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.anim-13:hover:before {
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
}
  
.anim-13:after {
    content: 'BUTTON';
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: scale(0) rotateY(0deg);
    opacity: 0;
}

.anim-13:hover:after {
 left: 0;
 transform: scale(1) rotateY(360deg);
 opacity: 1;
}
 
/* IMAGE ANIMATIONS */

.image-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 50px;
}

.img-title:hover{
    transform: rotate(10deg);
}

.img-container{
    width: 300px;
    height: 300px;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}

.img{
    object-fit: cover;
    transition: all 0.5s;
    transition-timing-function: linear;
}

.overlay{
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    transition-timing-function: linear;
}

.overlay-title{
    margin: 0;
    color: white
}

.overlay-text{
    margin: 0;
    color: white;
}

.img-1{
    width: 100%;
    height: 100%;
    position: absolute;
}

.img-1-container:hover .img-1{
    transform: scale(1.4) rotate(-15deg);
}

.overlay-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}

.overlay-1:hover{
    opacity: 100%;
}

.img-2{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.8s;
}

.img-2-container:hover .img-2{
    transform: translateX(100%);
}

.overlay-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.8s;
    background-color: black;
    transform: translateX(-100%);
}

.img-2-container:hover .overlay-2{
    transform: translateX(0);
}

.img-3{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.8s;
}

.img-3-container:hover .img-3{
    transform: translateY(-30%);
}

.overlay-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.8s;
    background-color: black;
    transform: translateY(100%);
}

.overlay-title-3{
    padding-top: 10px;
    font-size: 1.5em;
    color: white
}

.overlay-text-3{
    font-size: 0.8em;
    color: white;
}

.img-3-container:hover .overlay-3{
    transform: translateY(70%);
}

/* MENU ANIMATIONS */

.menu-container{
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 50px;
    border: 2px solid black;
    border-width: 2px 0 2px 0;
}

.menu-title:hover{
    transform: rotate(-10deg);
}

.menu{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.aitem{
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    margin: 0 10px;
    padding: 5px 10px;
    transition: all .3s;
}

.aitem-1:before{
    content: "";
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #b6122d;
    border-width: 0 0 3px 3px;
    opacity: 0;
    transition: all .3s;
}

.aitem-1:after{
    content: "";
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #b6122d;
    border-width: 3px 3px 0 0;
    opacity: 0;
    transition: all .3s;
}

.aitem-1:hover:before{
    opacity: 1;
    bottom: -8px;
    left: -8px;
}

.aitem-1:hover:after{
    opacity: 1;
    top: -8px;
    right: -8px;
}

.aitem-1:hover{
    color: white;
    background-color: #b6122d;
    border-radius: 3px;
}

.menu-2{
    margin-top: 30px;
}

.aitem-2{
    padding: 0;
    margin: 0 20px;
}

.aitem-2:before{
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    top: 110%;
    left: 0;
    background-color: rgb(75, 170, 66);
    transition: all .3s;
}

.aitem-2:after{
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    top: 110%;
    right: 0;
    background-color: rgb(170, 66, 89);
    transition: all .3s;
}

.aitem-2:hover:before{
    width: 50%;
    transform: translateX(100%);
}

.aitem-2:hover:after{
    width: 50%;
    transform: translateX(-100%);
}

/* TEXT ANIMATIONS */

.text-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 50px;
}

.text-title:hover{
    transform: rotate(10deg);
}

.text{
    margin: 0;
    padding: 0;
}

.text-1{
    color: rgba(0, 0, 0, 0.205);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 6em;
    position: relative;
}

.text-1:before{
    content: "TEXT";
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(15, 15, 15);
    width: 0%;
    overflow: hidden;
    transition: all 0.5s;
}

.text-1:hover{
    cursor: pointer;
}

.text-1:hover:before{
    width: 100%;
}